.form-container {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
    padding: 16px 16px 8px;
    margin-bottom: 20px;
    position: relative;
    color: #333;
    max-width: 500px;
    margin: 40px auto;
    text-align: center;
    form {
        max-width: 300px;
        margin: auto;
    }
}
.form-container__item {
    margin: 0 0 20px;
    label {
        display: block;
        text-align: left;
        
    }
    input {
        border-radius: 4px;
        border: 1px solid #ddd;
        width: 100%;
        line-height: 32px;
        margin: 5px 0 0;
        padding: 0px 12px;
    }
}
.error-msg {
    display: block;
    color: #ff1c54;
    text-align: left;
    font-size: 12px;
    margin-top: 3px;
}