.note-view {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
    padding: 16px 16px 8px;
    margin-bottom: 20px;
    position: relative;
    color: #333;
    max-width: 500px;
    margin: 40px auto;
    >div {
        padding-bottom: 8px;
    }
    .simple-btn {
        margin-right: 8px;
    }
    .check-btn {
        position: absolute;
        right: calc(0px - 11px);
        top: calc(0px - 11px);      
    }
    .delete-btn {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .note-title {
        margin: 0 0 16px;
            > h3{
            color: transparent;
            font-weight: 500;
            font-size: 20px;
            position: relative;
            margin: 0 0 20px;
        }
    }
    .note-body {
        margin: 0 0 16px;
        > p {
            color: transparent;
            font-weight: 400;
            font-size: 16px;
            position: relative;
            margin: 0 0 16px;
        }
    }
    .note-title-input,
    .note-body-textarea {
        color: #333;
        font-weight: inherit;
        font-size: inherit;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
    }

    textarea,
    input {
        display: block;
        color: inherit;
        width: 100%;
        border: none;
        padding: 0;
        &:focus {
            outline: none;
        }
    }
    textarea {
            resize: none;
    }
    .save {
        display: none;
    }
    &.editing {
        .save {
            display: block;
        }
    }
    &.new-note {
        .delete-btn,
        .check-btn {
            display: none;
        }
    }
}