.text-block {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
    padding: 16px 16px 8px;
    margin-bottom: 20px;
    position: relative;
    color: #333;
    max-width: 500px;
    margin: 40px auto;
    text-align: center;
}