$green: #2de599;

.simple-btn {
    box-shadow: 0 0 2px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    border: 1px solid #ddd;
    background: transparent;
    padding: 2px 8px;
    font-size: 12px;
    cursor: pointer;
    transition: box-shadow 0.25s ease;
    &:focus{
        outline: none;
        box-shadow: 0 0 2px 1px rgba(0, 148, 255,0.8);
    }
}

.simple-btn-2 {
    box-shadow: 0 0 2px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    border: 1px solid #ddd;
    background: transparent;
    padding: 2px 8px;
    font-size: 16px;
    cursor: pointer;
    transition: box-shadow 0.25s ease;
    &:focus{
        outline: none;
        box-shadow: 0 0 2px 1px rgba(0, 148, 255,0.8);
    }
}

.check-btn {
    box-shadow: 0 0 2px 0px rgba(0,0,0,0.2);
    border-radius: 50%;
    background: #fff;
    height: 30px;
    width: 30px;
    padding: 5px 5px;
    font-size: 12px;
    color: #aaa;
    transition: box-shadow 0.25s ease;
    position: relative;
    cursor: pointer;
            transition: color 0.3s ease;
    &:after {
        content: '';
        display: inline-block;
        width: 0px;
        height: 0px;
        border: 7px solid $green;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        z-index: -1;
        opacity: 0;
    }
    &:focus{
        outline: none;
        box-shadow: 0 0 2px 1px rgba(0, 148, 255,0.8);
    }
}
.complete {
    .check-btn {
        color: $green;
        i {
            animation: fadeInCheck 0.75s ease 0s forwards;
        }
        &::after {
            animation: checkCircle 0.5s ease 0s forwards;
        }
    }
}
@keyframes checkCircle {
    0% {z-index: 1;}
    25% {opacity: 1;}
    100% {opacity: 1; z-index: 1; width: 31px; height: 31px; border: 2px solid $green}
}
    @keyframes fadeInCheck {
    0% {opacity: 0; transform: scale(0.4);}
    25% {opacity: 0; transform: scale(0.4);}
    60% {opacity: 1; transform: scale(1.2);}
    100% {opacity: 1; transform: scale(1);}
}

.delete-btn {
    box-shadow: 0 0 2px 0px rgba(0,0,0,0.0);
    border-radius: 4px;
    border: 2px solid #fff;
    background: #fff;
    height: 30px;
    width: 30px;
    padding: 5px 5px;
    font-size: 12px;
    color: #aaa;
    transition: box-shadow 0.25s ease;
    position: relative;
    cursor: pointer;
    &:focus{
        outline: none;
        box-shadow: 0 0 2px 1px rgba(0, 148, 255,0.8);
    }
}
