 .nav-btn {
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding: 4px 12px;
    background-color: $green;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.25s ease;
    cursor: pointer;
    &:hover {
        background-color: $green-dark;
    }
    &.active {
          background-color: $green-dark;
    }
}