.note-btn-container {
    border: none;
    background: transparent;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    top: 5px;
    a:last-child{
        background: transparent;
        display: inline-block;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 2;
    }
     &:hover {
        color: #1ea8ff;
        .note-btn {
            color: inherit;
        }
    }
}

.note-btn {
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.2);
    border: none;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #aaa;
    position: absolute;
    right: 0px;
    top: 0px;
    transition: color 0.25s ease;
    z-index: 3;
    cursor: pointer;
    overflow: hidden;
    &:focus {
        outline: none;
    }
    i {
        color: inherit;
    }
    .fa-pencil-alt {
        position: absolute;
        top: 8px;
        right: 8px;
        font-size: 14px;
        transition: transform 0.4s ease 0.2s, opacity 0.3s ease 0.2s;
    }
    .fa-plus {
        position: absolute;
        top: 17px;
        right: 20px;
        font-size: 14px;
        transition: transform 0.4s ease 0.2s, opacity 0.3s ease 0.2s;
    }
    .fa-list-ul{
        position: absolute;
        top: 50%;
        right: 11px;
        transform: translate(10px, -50%);
        font-size: 18px;
        opacity: 0;
        transition: transform 0.4s ease, opacity 0.3s ease;
    }
    div{
        display: none;
    }
    &.active {
        z-index: 1;
        .fa-pencil-alt {
            opacity: 0;
            transform: translateY(-10px);
            transition: transform 0.4s ease, opacity 0.3s ease;
        }
        .fa-plus {
            opacity: 0;
            transform: translateY(10px);
            transition: transform 0.4s ease, opacity 0.3s ease;
        }
        .fa-list-ul {
            opacity: 1;
            transform: translate(0, -50%);
            transition: transform 0.4s ease 0.2s, opacity 0.3s ease 0.2s;
        }
    }
}