*,*::after,*::before {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

body {
    min-height: 100vh;
  background: #eff6f9;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}